[submodule "themes/ananke-remote"]
	path = themes/ananke-remote
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/compost"]
	path = themes/compost
	url = https://github.com/canstand/compost.git
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad.git
[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/mitrichius/hugo-theme-anubis.git
[submodule "themes/goldmark"]
	path = themes/goldmark
	url = https://github.com/yuin/goldmark.git
[submodule "themes/hugo"]
	path = themes/hugo
	url = https://github.com/gohugoio/hugo.git
[submodule "themes/vanilla"]
	path = themes/vanilla
	url = https://dev.danilafe.com/Web-Projects/vanilla-hugo.git
