body {
    font-family: 'Computer Modern Serif';
}

.serif {
    font-family: 'Computer Modern Serif';
}

g text {
    font-family: 'Computer Modern Sans';

}

.mid-gray {
    color: #000000;
}

code {
    font-family: 'SF Mono';
}

.katex .textsf {
    font-family: 'SF Mono';
}
.mord .textsf {
    font-family: 'SF Mono';
}
.katex {
    font-size: inherit;
}

.w-two-thirds-l {
    width: 100%;
}


.pr4-l {
    padding-right: 0;
}

.colorbox, g rect {
    opacity: 20%;
    border-radius: 10px;
}