
{{/* partial "katex/assets/css" . */}}
{{/* partial "katex/assets/js" . */}}



<script>
  window.MathJax = {
    startup: {
      pageReady: function () {
        console.log('Running MathJax');
        return MathJax.startup.defaultPageReady();
      }
    },
    loader: {
      load: ['[tex]/textmacros','[tex]/color'],
    },
    tex: {
      packages: {
        '[+]': ['ams','textmacros','color'],
        '[-]': ['noundefined','autoload']
      },
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      macros: {
        N: '{\\mathbb{N}}',
        Z: '{\\mathbb{Z}}',
        Q: '{\\mathbb{Q}}',
        freevars: '{\\textsf{free}}',
        eqdef: '{\\overset{\\text{def}}{=}}',
      },
      formatError: (jax,err) => {
        console.log('MathJax error:', err);
        return jax.formatError(err);
      }
    },
    svg: {
      fontCache: 'global',
      mtextInheritFont: true,
      scale: 0.97,
      minScale: 0.6,
    },
    options: {
      renderActions: {
        addMenu: [],
      },
      skipHtmlTags: [            //  HTML tags that won't be searched for math
          'script', 'noscript', 'style', 'textarea', 'pre',
          'code', 'annotation', 'annotation-xml'
      ],
    }
  };
  </script>

<!-- <script id="MathJax-script" defer src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-svg.js"></script> -->
<script id="MathJax-script" src="/mathjax/tex-svg.js" defer></script>


{{/*
<link rel="stylesheet" href="/katex/katex.min.css">
<script src="/katex/katex.min.js" defer></script>
<script src="{{ (resources.Get "js/katex-render.js").Permalink }}" defer></script>
<script src="/katex/contrib/auto-render.min.js" defer onload="katexGo()"></script>
*/}}
{{ $siteStyle := resources.Get "scss/style.scss" | resources.ToCSS  }}
<link rel="stylesheet" href="{{ $siteStyle.Permalink }}">


<script defer data-domain="moncrief.dev" src="https://plausible.io/js/script.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QKYR29RVNN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QKYR29RVNN');
</script>