
{{/* partial "katex/assets/css" . */}}
{{/* partial "katex/assets/js" . */}}

<script>
    MathJax = {
      tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]},
      svg: {fontCache: 'global'},
    };
</script>
{{/* <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-svg.js"></script> */}}
<script id="MathJax-script" src="/mathjax/tex-svg.js" defer></script>

{{/*
<link rel="stylesheet" href="/katex/katex.min.css">
<script src="/katex/katex.min.js" defer></script>
<script src="{{ (resources.Get "js/katex-render.js").Permalink }}" defer></script>
<script src="/katex/contrib/auto-render.min.js" defer onload="katexGo()"></script>
*/}}
{{ $siteStyle := resources.Get "scss/style.scss" | resources.ToCSS  }}
<link rel="stylesheet" href="{{ $siteStyle.Permalink }}">
